.container{
    height: auto;
    width: auto;
}

a{
    color: #ffff !important;
    font-family: 'Assistant', sans-serif;
}

#boom {
    background-color: #FAF9F8 !important;
}
body {
    background-color: #FAF9F8 !important;
}
#navlet {
    color: #1E3706 !important;
    font-family: 'Assistant', sans-serif;
}
.feuille img {
    width: 536px;
    height: 800px;
    position: absolute;
}
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* Page d'accueil */
.intro{
    margin-left: 700px;
    margin-top: 220px;
}
.intro1 {
    color: #1E3706 !important;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 50px;
}
.intro2{
    color: #1E3706 !important;
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
    margin-top: 70px;
}
.intro3 {
    background-color: #1E3706;
    font-size: 20px;
    margin-top: 80px;
    border-radius: 18px;
    width: 230px;
    height: 40px;
}
.intro3 a {
    margin-left: 26px;
    margin-top: 5px;
    position: absolute;
}
/* Ferme Page d'accueil */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* Page propos de nous */
.introo {
    margin-left: 700px;
    margin-top: 220px;
}

.intro11 {
    color: #1E3706 !important;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 50px;
}

.intro22 {
    color: #1E3706 !important;
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
    margin-top: 70px;
}
/* Ferme propos de nous */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* Page inscription */
.introoo {
    margin-left: 700px;
    margin-top: 220px;
}

.intro111 {
    color: #1E3706 !important;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 50px;
    margin-left: 180px;
}

.container1{
    background-color: #E4DED7;
    border-radius: 18px;
    border: #1E3706 solid;
    width: 630px;
    height: 460px;
}
#name{
    margin-top: 30px;
    margin-left: 70px !important;
}
.name1{
    font-size: 25px;
}

.intro33 {
    background-color: #1E3706;
    color: #ffff;
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
    margin-top: 25px;
    border-radius: 18px;
    width: 140px;
    height: 40px;
    margin-left: 232px;
}
.intro33 a {
    margin-left: 28px;
    margin-top: 5px;
    position: absolute;
}
/* Ferme Page inscription */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* Page Connexion */
.conne2 {
    margin-left: 700px;
    margin-top: 220px;
}

.conne22 {
    color: #1E3706 !important;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 50px;
    margin-left: 25%;
}

.container2 {
    background-color: #E4DED7;
    border-radius: 18px;
    border: #1E3706 solid;
    width: 430px;
    height: 300px;
    margin-left: 102px;
}
#circ{
    font-size: 35px;
}
#user{
    font-size: 25px;
    position: absolute;
    margin-left: 7px;
    margin-top: 5px;
}
#lock{
        font-size: 35px;
    }
#co1 {
    margin-top: 40px;
    margin-left: 80px !important;
}

.co1 {
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.co11 {
    background-color: #1E3706;
    color: #ffff;
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
    margin-top: 65px;
    border-radius: 18px;
    width: 140px;
    height: 40px;
    margin-left: 35%;
}
.co11 a {
    margin-left: 18px;
    margin-top: 5px;
    position: absolute;
}
/* Ferme Page Connexion */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

/* Page Client */
/* header */
#user1 {
    color: #1E3706;
    position: absolute;
    margin-left: 22px !important;
    font-size: 23px;
    margin-top: 5px;
    cursor: pointer;
}
#circ1 {
    color: #1E3706;
    font-size: 35px;
    margin-bottom: 5px;
    margin-left: 15px !important;
    cursor: pointer;
}
/* DERNIERES DEMANDES */
.accu {
    color: #1E3706 !important;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 50px;
    margin-left: 640px;
    margin-top: 70px;
    position: absolute;
    
}

.accu1 {
    background-color: #E4DED7;
    border-radius: 18px;
    border: #1E3706 solid;
    width: 630px;
    height: 460px;
    margin-left: 32%;
    margin-top: 180px;
    position: absolute;
}
/*Ferme DERNIERES DEMANDES */
/* PREMIERES DEMANDES */
.hist {
    color: #1E3706 !important;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 50px;
    margin-left: 635px;
    margin-top: 70px;
    position: absolute;

}

.hist1 {
    background-color: #E4DED7;
    border-radius: 18px;
    border: #1E3706 solid;
    width: 630px;
    height: 460px;
    margin-left: 32%;
    margin-top: 180px;
    position: absolute;
}

/*Ferme PREMIERES DEMANDES */
/* PROFIL CLIENT */
